<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Новая регистрация в приложении.</p>
    <p>Почта пользователя: <%= @user_email %> </p>
    <p>Thanks for joining and have a great day!</p>
    <p>___</p>
    <p>С уважением, служба поддержки </p>
    <p><a href="#"><strong>.....</strong></a></p>
  </body>
</html>
